@page "/"
@using Spellslinger.Components
@using Spellslinger.Services
@inject IGame Game
@inject IMapGenerator MapGenerator

<div @onkeypress="KeyPress">

	<PageTitle>Home</PageTitle>

	<MapView Model="@Game.CurrentMap" />

	<div>
		@for (var i = Game.Log.Count - 5; i < Game.Log.Count; i++)
		{
			if (i >= 0)
			{
				<p>@Game.Log[i]</p>
			}
		}
	</div>

</div>