@page "/"
@using Spellslinger.Components
@using Spellslinger.Models
@using Spellslinger.Services
@inject IGame Game

<div id="keyInputRoot" @onkeydown="KeyDown" tabindex="0">

	<PageTitle>Home</PageTitle>

	<div style="display: flex; flex-direction: row">
		@if (Game.InputMode == InputMode.Title)
		{
			<TitleView />
			Game.Music.Play("out-there.ogg", "audio/ogg");
		}
		else if (Game.InputMode == InputMode.CharacterSelection)
		{
			<CharacterSelectionView />
			Game.Music.Play("out-there.ogg", "audio/ogg");
		}
		else if (Game.InputMode == InputMode.Town)
		{
			<TownView />
			Game.Music.Play("out-there.ogg", "audio/ogg");
		}
		else if (Game.InputMode == InputMode.Training)
		{
			<TrainingView />
			Game.Music.Play("out-there.ogg", "audio/ogg");
		}
		else if (Game.InputMode == InputMode.Shopping)
		{
			<ShopView />
			Game.Music.Play("out-there.ogg", "audio/ogg");
		}
		else if (Game.InputMode == InputMode.Spellcrafting)
		{
			<SpellcraftingView />
			Game.Music.Play("out-there.ogg", "audio/ogg");
		}
		else if (Game.InputMode == InputMode.Dungeon || Game.InputMode == InputMode.SpellDirection)
		{
			<MapView Model="@Game.CurrentMap" />
			if (Game.Player is not null && Game.Player.IsAlive)
			{
				if (Game.IsArtifactCollected)
				{
					// TODO: endgame music
					Game.Music.Play("exploring-the-darkness.ogg", "audio/ogg");
				}
				else
				{
					Game.Music.Play("exploring-the-darkness.ogg", "audio/ogg");
				}
			}
			else
			{
				// TODO: defeat music
				Game.Music.Play("exploring-the-darkness.ogg", "audio/ogg");	
			}
		}
		else if (Game.InputMode == InputMode.Victory)
		{
			<VictoryView />
			// TODO: victory music
			Game.Music.Play("out-there.ogg", "audio/ogg");
		}

		<div style="width: 30vw">
			<div>
				@if (Game.Player is null || !Game.Player.IsAlive)
				{
					@if (Game.InputMode == InputMode.Dungeon || Game.InputMode == InputMode.SpellDirection)
					{
						<span>GAME OVER</span>
					}
				}
				else
				{
					<StatsView @ref="statsView" />
				}
			</div>
			<div id="log" class="log">
				@for (var i = Game.Log.Count - 30; i < Game.Log.Count; i++)
				{
					if (i >= 0)
					{
						<p class="log-entry">@Game.Log[i]</p>
					}
				}
			</div>
		</div>
	</div>
</div>