@page "/"
@using Spellslinger.Components
@using Spellslinger.Models
@using Spellslinger.Services
@inject IGame Game

<div @onkeydown="KeyDown" tabindex="0">

	<PageTitle>Home</PageTitle>

	<div style="display: flex; flex-direction: row">
		@if (Game.InputMode == InputMode.CharacterSelection)
		{
			<CharacterSelectionView />
		}
		else if (Game.InputMode == InputMode.Town)
		{
			<TownView />
		}
		else if (Game.InputMode == InputMode.Training)
		{
			<TrainingView />
		}
		else if (Game.InputMode == InputMode.Shopping)
		{
			<ShopView />
		}
		else if (Game.InputMode == InputMode.Spellcrafting)
		{
			<SpellcraftingView />
		}
		else if (Game.InputMode == InputMode.Dungeon || Game.InputMode == InputMode.SpellDirection)
		{
			<MapView Model="@Game.CurrentMap" />
		}

		<div>
			<div>
				@if (Game.Player is null)
				{
					@if (Game.InputMode == InputMode.Dungeon || Game.InputMode == InputMode.SpellDirection)
					{
						<span>GAME OVER</span>
					}
				}
				else
				{
					<StatsView @ref="statsView" />
				}
			</div>
			<div class="log">
				@for (var i = Game.Log.Count - 30; i < Game.Log.Count; i++)
				{
					if (i >= 0)
					{
						<p class="log-entry">@Game.Log[i]</p>
					}
				}
			</div>
		</div>
	</div>
</div>