@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
           <span>Use the arrow keys to move. You might have to click on the map first.</span>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
