@using Spellslinger.Components
@using Spellslinger.Services
@inherits LayoutComponentBase
@inject IGame Game
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <MusicPlayer @ref="musicPlayer" TrackFilename="@Game.Music.CurrentTrack"/>
           <span>Use the arrow keys to move, ZXCVBNM to cast spells, space to interact with terrain.</span>
        </div>

        <article class="content px-4">
            <Spellslinger.Pages.Home />
        </article>
    </main>
</div>
