@inherits GameComponentBase
<div>
	<h3>***BAD ENDING!***</h3>
	<p>Well, you think you're safe in the town... - but soon after you arrive, the @Game.Boss comes lumbering out of the dungeon!</p>
	<p>Oh no! It seems you awakened him without collecting the Orb of MacGuffin to seal him away!</p>
	<p>The town - no, the whole land of Xandabar - is doomed!</p>
	<p>BAD ENDING! You lose!</p>
</div>