@using Spellslinger.Models
@using Spellslinger.Services
@inherits GameComponentBase

<h3>Select a character</h3>

<ul>
	@* TODO: dynamically populate this list from ActorType.PlayerCharacters (requires descriptions to be specified there) *@
	<li><button @onclick="() => StartGame(ActorType.Pyro)">Pyro</button> - Force and Fire runes, resists fire, vulnerable to ice</li>
	<li><button @onclick="() => StartGame(ActorType.Cryo)">Cryo</button> - Force and Ice runes, resists ice, vulnerable to fire</li>
	<li><button @onclick="() => StartGame(ActorType.Aero)">Aero</button> - Force and Air runes, resists air, vulnerable to earth</li>
	<li><button @onclick="() => StartGame(ActorType.Geo)">Geo</button> - Force and Earth runes, resists earth, vulnerable to air</li>
	<li><button @onclick="() => StartGame(ActorType.Vis)">Vis</button> - Force rune only, high Strength</li>
	<li><button @onclick="() => StartGame(ActorType.Magus)">Magus</button> - all elemental runes, low Strength, high Memory</li>
	<li><button @onclick="() => StartGame(ActorType.Vegan)">Vegan</button> - Vegan and Earth runes, low Toughness, high Willpower</li>
</ul>