@inherits GameComponentBase
<div style="display: flex; flex-direction: row">
	<div style="height: 4px; width: @InnerWidth%; border-color: @System.Drawing.Color.FromArgb(255, Color).ToRgbaString(); border-width: 1px; border-style: solid; background: @System.Drawing.Color.FromArgb(32, Color).ToRgbaString()"></div>
	<div style="height: 4px; width: @OuterWidth%; border-color: @System.Drawing.Color.FromArgb(255, Color).ToRgbaString(); border-width: 1px; border-style: solid; background: @System.Drawing.Color.FromArgb(16, Color).ToRgbaString()"></div>
</div>