@inherits GameComponentBase
<div>
	<h3>Spellslinger of Xandabar</h3>
	<p>In the land of Xandabar, magic is malleable.</p>
	<p>Wizards, known as "spellslingers", are able to craft their own spells out of magical runes.</p>
	<p>You are a visitor to Xandabar, learning their ways of magic, when you happen across a town plagued by a great evil.</p>
	<p>No one else dares to face the evil, so you take it upon yourself to do so.</p>
	<p>
		You must descend through the eight ever-changing floors of the dungeons beneath the town, retrieve the Orb of MacGuffin
		from the clutches of the evil which sleeps there, and return to the surface safely to seal away the evil once and for all.
	</p>
	<p>
		<button @onclick="BeginGame">Begin Game</button>
	</p>
	<p>(c) 2025 Ed Kolis</p>
	<p>Made for the <a href="https://itch.io/jam/7drl-challenge-2025">7 Day Roguelike Challenge</a> (7DRL) game jam</p>
</div>