<div>
	<h3>***CONGRATULATIONS!***</h3>
	<p>You have successfully retrieved the Orb of MacGuffin from the depths of the dungeon!</p>
	<p>The evil lurking within has been sealed away once and for all.</p>
	<p>You may now retire to a life of fame. All hail the hero of Xandabar!</p>
</div>